.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1e1e1e;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-top: 1px solid #333;
  z-index: 100;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
}

.footer a {
  color: #ffffff8c;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 1rem;
  transition: color 0.3s;
}

.footer a:hover {
  color: #4caf50;
}
.highlighted {
  animation: highlightAnimation 1.5s ease forwards;
}

@keyframes highlightAnimation {
  0% {
    background-color: #4caf50;
    color: black;
  }
  100% {
    background-color: transparent;
    color: inherit;
  }
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    padding: 0.8rem 1rem;
    text-align: center;
  }

  .footer a {
    margin: 0.5rem 0;
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .footer {
    display: none;
  }
}
